/*global*/
body{
    background-color: rgba(248, 248, 245, 0.89);


}
h1, h2, h3{color: rgb(57, 118, 250);
    text-align: center;
    text-shadow: 1.5px 1.5px 1.5px black;
    

}
h1{
    letter-spacing: 3px;
}
h4{
    color: aliceblue;
    text-shadow: 1.5px 1.5px 1.5px black;
    
}
p{
    color:rgb(242, 248, 248);
    text-shadow: 3px 3px 3px rgb(12, 12, 12);
    border: 2px rgb(236, 136, 4) solid;
    height:auto
}
/*utilities*/
/*header*/
header{
    background-color:rgba(145, 143, 143, 0.171);
    height: 30vh;
    border: 2px black double;
}
/*menu*/
nav{
    background-color:rgb(6, 79, 189);
    height: 5vh;
    text-align: right;
    word-spacing: 10px;
    font-weight:bold;
    text-shadow: 1px 1px 1px black;
    padding-top: 0px;
}
nav a{
    color: aliceblue;
    text-decoration: none;
    
    
}
nav a:hover{
    font-weight: bold;
    color: rgb(1, 5, 5);
}
/*main*/
.project-container{
    display: flexbox;
    flex-direction: row;
    border: 1px solid black;
    margin: 15%;
    margin-top: 2px;
    margin-bottom: 0px;
    color: aliceblue;
    box-shadow: 5px 5px 5px black;
}
.github-projects{
    color: aliceblue;
    text-shadow: 3px 3px 3px black;
}
.about-container{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 2px;
    box-shadow: 3px 3px 3px black;
    border-radius: 15px;

}
.contact-container{
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 2px;
    box-shadow: 3px 3px 3px black;
    border-radius: 15px;
    background-color:rgba(6, 79, 189);

}
.index-container{
    display: flex;
    flex-direction: row-reverse;
}
main{
    background-color: rgba(6, 79, 189);
}
#h4-1{
    text-align: center;
    font-weight: bold;
    font-size: x-large;
}
aside{
    background-color: rgba(6, 79, 189);

}
.index-side{
    border: 1px solid black;
    font-weight: bold;
    text-shadow: 1px 1px 1px rgb(27, 27, 27);
    color: rgb(236, 136, 4);
    
}
/*footer*/
footer{
      background-color: black;
      text-align: center;

}
.social{
    display: flex;
    justify-content: center;
    margin-right: 20px;
    
}
.soc{
    margin-right: 20px;
    
}
#mylife{
    text-align: center;
    font-size: x-large;


    
    
}
.south{
    font-size: x-large;
    font-family:'Roboto', sans-serif;
    text-align: center;
}
.roof{
    font-style: oblique;
}